@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    align-items: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(180deg, var(--soft-violet) 0%, var(--soft-blue) 100%);
    overflow: hidden;
}

.faq-heading {
    text-align: center;
    font-size: 700;
    color: var(--very-dark-desaturated-blue);
}

.faq-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 1.25em;
    padding: 1em 1em 2em 1em;
}

.accordion {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--very-dark-grayish-blue);
    background-color: white;
    border: none;
    padding: 0;
}

.accordion-active{
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}

.panel {
    display: none;
    font-size: 0.75em;
    color: var(--dark-grayish-blue);
    padding-right: 2.2em;
}

.panel p {
    margin: 0;
    margin-top: 0.75em;
}

.horizontal-line {
    display: block;
    border-bottom: 1px solid var(--light-grayish-blue);
    margin: 0.75em 0;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-mobile{
    z-index: 1;
    position: relative;
    height: auto;
    width: 15.625em;
    margin-top: -125px;
}

.icon-shadow-desktop {
    display: none;
}

.icon-shadow-mobile {
    z-index: 0;
    position: relative;
    height: auto;
    width: 15.625em;
    margin-top: -80px;
}

.icon-desktop {
    display: none;
}

.icon-box-desktop {
    display: none;
}

.arrow-icon {
    align-self: center;
    transform: rotate(180deg);
    transition: all;
}

.arrow-icon-active {
    transform: rotate(0deg);
}

@media only screen and (min-width: 1024px) {
    .faq-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        overflow: hidden;
        height: 450px;
        width: 800px;
    }

    .accordion:hover {
        color: var(--soft-red);
    }

    .icon-mobile{
        display: none;
    }
    
    .icon-shadow-mobile {
        display: none;
    }

    .icon-desktop {
        display: block;
        padding: 2em 2em;
        position: relative;
        height: auto;
        width: 30em;
        margin-left: -90px;
        z-index: 1;
    }

    .icon-box-desktop {
        display: block;
        position: absolute;
        width: 13em;
        margin-left: -190px;
        margin-top: 40px;
        z-index: 2;
    }

    .desktop {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
    }

    .faq-text {
        width: 300px;
    }
}